{% extends 'base.html' %}
{% block main %}
  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="mt-4">
      {% url 'index' as add_expense_url %}
      {% include 'components/breadcrumb.html' with home_url=add_expense_url title='Expenses' active='Edit Expenses' %}
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-2 pb-2 mb-3 border-bottom"></div>
    </div>
    <div class="card">
      <div class="card-body">
        {% include 'components/message.html' %}
        <form action="{% url 'expense_edit' expense.id %}" method="post">
          {% csrf_token %}
          <div class="mb-3">
            <label for="amount" class="form-label">Amount</label>
            <input type="number" class="form-control form-control-sm" name="amount" value="{{ values.amount }}" />
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control form-control-sm" name="description" value="{{ values.description }}" />
          </div>
          <div class="mb-3">
            <label for="category" class="form-label">Category</label>
            <select name="category" id="category" class="form-select form-select-sm">
              {% for category in categories %}
                <option name="category" value="{{ category.name }}">{{ category.name }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="mb-3">
            <label for="expense_date" class="form-label">Date of Expenses</label>
            <input type="date" class="form-control form-control-sm" name="expense_date" value="{{ values.date|date:'Y-m-d' }}" />
          </div>
          <input type="submit" value="Update" class="btn btn-primary btn-md" />
          <a href="{% url 'expense_delete' expense.id %}" class="btn btn-danger btn-md">Delete</a>
        </form>
      </div>
    </div>
  </main>
{% endblock %}
