/* register form */
.showPasswordToggle {
  cursor: pointer;
  transition: all;
}
.showPasswordToggle:hover {
  transform: scale(1.2);
}

/* messages */
.close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  font-size: 16px;
  color: #333;
}

.close-btn:hover {
  color: red;
}
