{% extends 'base_auth.html' %}
{% load static %}
{% block main %}
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card mt-5">
      <div class="card-body">
        <div class="card-title py-3">
          <h4>Set your new password</h4>
        </div>
        <form action="{% url 'reset-user-password' uidb64 token %}" method="post" class="d-flex flex-column gap-2">
          {% csrf_token %}
          {% include 'components/message.html' %}
          <div class="form-group">
            <input type="password" name="password" value="{{ fieldValues.password }}" placeholder="Enter your password... " id="passwordField" class="form-control form-control-sm" />
            <small class="float-end py-3 showPasswordToggle">Show</small>
          </div>
          <div class="form-group">
            <input type="password" name="password2" value="{{ fieldValues.password2 }}" placeholder="Enter your Confirm password... " id="passwordField" class="form-control form-control-sm" />
            <small class="float-end py-3 showPasswordToggle">Show</small>
          </div>
          <input type="submit" value="Submit" class="btn btn-block btn-primary submit-btn" />
        </form>
        <div class="container">
          <span class="text-lead lead text-capitalize">Have an account?</span>
          <a href="{% url 'login' %}">Login</a>
          <br />
          <span class="text-lead lead text-capitalize">Dont have an account?</span>
          <a href="{% url 'registration' %}">Register</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
  <script src="{% static 'js/register/register-username.js' %}"></script>
  <script src="{% static 'js/register/register-email.js' %}"></script>
  <script src="{% static 'js/register/register-password.js' %}"></script>
{% endblock %}
